/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 18.72px;
}

h4{
  font-size: 16px;
}